<span class="column-container">
  <h2>Alternatives to Display Disabled / Read-Only Text in Material Form Fields</h2>
  <span class="row-container">
    Option 1- Just switch appearance from Outline when enabled to Fill when disabled
    <mat-form-field disabledAppearance>
      <mat-label>Input 1</mat-label>
      <input matInput [disabled]="disabledToggleForO1.checked" [required]="requiredToggleForO1.checked">
    </mat-form-field>
    <mat-form-field disabledAppearance>
      <mat-label> Select 1 </mat-label>
      <mat-select [disabled]="disabledToggleForO1.checked" [required]="requiredToggleForO1.checked">
        <mat-option />
        @for (option of options; track option.value) {
          <mat-option [value]="option.value"> {{ option.label }} </mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field disabledAppearance>
      <mat-label>Datepicker 1</mat-label>
      <input matInput [matDatepicker]="picker1" [disabled]="disabledToggleForO1.checked" [required]="requiredToggleForO1.checked">
      <mat-datepicker-toggle matIconSuffix [for]="picker1" />
      <mat-datepicker #picker1 [disabled]="disabledToggleForO1.checked"/>
    </mat-form-field>
    <span>
      <mat-slide-toggle #disabledToggleForO1 /> {{ disabledToggleForO1.checked ? 'Disabled': 'Enabled' }}
    </span>
    <span>
      <mat-slide-toggle #requiredToggleForO1 /> {{ requiredToggleForO1.checked ? 'Required': 'Optional' }}
    </span>
  </span>

  <span class="row-container no-styling">
    Option 2 - Switch Appearance, Remove Extra Styling from Fill Option
    <mat-form-field disabledAppearance>
      <mat-label>Input 2</mat-label>
      <input matInput [disabled]="disabledToggleForO2.checked" [required]="requiredToggleForO2.checked">
    </mat-form-field>
    <mat-form-field disabledAppearance>
      <mat-label> Select 2 </mat-label>
      <mat-select [disabled]="disabledToggleForO2.checked" [required]="requiredToggleForO2.checked">
        <mat-option />
        @for (option of options; track option.value) {
          <mat-option [value]="option.value"> {{ option.label }} </mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field disabledAppearance>
      <mat-label>Datepicker 2</mat-label>
      <input matInput [matDatepicker]="picker2" [disabled]="disabledToggleForO2.checked" [required]="requiredToggleForO2.checked">
      <mat-datepicker-toggle matIconSuffix [for]="picker2" />
      <mat-datepicker #picker2 [disabled]="disabledToggleForO2.checked"/>
    </mat-form-field>
    <span>
      <mat-slide-toggle #disabledToggleForO2 /> {{ disabledToggleForO2.checked ? 'Disabled': 'Enabled' }}
    </span>
    <span>
      <mat-slide-toggle #requiredToggleForO2 /> {{ requiredToggleForO2.checked ? 'Required': 'Optional' }}
    </span>
  </span>

  <span class="row-container no-styling">
    Option 3 - Same as Option 2, but switch back to the auto toggle for floating label when disabled
    <mat-form-field disabledAppearance autoFloat>
      <mat-label>Input 3</mat-label>
      <input matInput [disabled]="disabledToggleForO3.checked" [required]="requiredToggleForO3.checked">
    </mat-form-field>
    <mat-form-field disabledAppearance autoFloat>
      <mat-label> Select 3 </mat-label>
      <mat-select [disabled]="disabledToggleForO3.checked" [required]="requiredToggleForO3.checked">
        <mat-option />
        @for (option of options; track option.value) {
          <mat-option [value]="option.value"> {{ option.label }} </mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field disabledAppearance autoFloat>
      <mat-label>Datepicker 3</mat-label>
      <input matInput [matDatepicker]="picker3" [disabled]="disabledToggleForO3.checked" [required]="requiredToggleForO3.checked">
      <mat-datepicker-toggle matIconSuffix [for]="picker3" />
      <mat-datepicker #picker3 [disabled]="disabledToggleForO3.checked"/>
    </mat-form-field>
    <span>
      <mat-slide-toggle #disabledToggleForO3 /> {{ disabledToggleForO3.checked ? 'Disabled': 'Enabled' }}
    </span>
    <span>
      <mat-slide-toggle #requiredToggleForO3 /> {{ requiredToggleForO3.checked ? 'Required': 'Optional' }}
    </span>
  </span>

  <span class="row-container no-styling">
    Option 4 - Same as Option 2, but set the placeholder text to something if text is provided (Not quite working yet)
    <mat-form-field disabledAppearance placeHolderText="N/A">
      <mat-label>Input 3</mat-label>
      <input matInput [disabled]="disabledToggleForO4.checked" [required]="requiredToggleForO4.checked">
    </mat-form-field>
    <mat-form-field disabledAppearance placeHolderText="N/A">
      <mat-label> Select 3 </mat-label>
      <mat-select [disabled]="disabledToggleForO4.checked" [required]="requiredToggleForO4.checked">
        <mat-option />
        @for (option of options; track option.value) {
          <mat-option [value]="option.value"> {{ option.label }} </mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field disabledAppearance placeHolderText="N/A">
      <mat-label>Datepicker 4</mat-label>
      <input matInput [matDatepicker]="picker4" [disabled]="disabledToggleForO4.checked" [required]="requiredToggleForO4.checked" placeholder="placeholder">
      <mat-datepicker-toggle matIconSuffix [for]="picker4" />
      <mat-datepicker #picker4 [disabled]="disabledToggleForO4.checked"/>
    </mat-form-field>
    <span>
      <mat-slide-toggle #disabledToggleForO4 /> {{ disabledToggleForO4.checked ? 'Disabled': 'Enabled' }}
    </span>
    <span>
      <mat-slide-toggle #requiredToggleForO4 /> {{ requiredToggleForO4.checked ? 'Required': 'Optional' }}
    </span>
  </span>

</span>

