/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;
@use "sass:map";
@include mat.form-field-density(-1);

html, body {
  height: 100%;
  --mdc-outlined-text-field-label-text-color: rgba(0, 0, 0, 0.72);
  --mdc-outlined-text-field-hover-label-text-color: rgba(0, 0, 0, 0.72);
  --mdc-filled-text-field-disabled-label-text-color:  --mdc-outlined-text-field-hover-label-text-color;
  --mdc-filled-text-field-disabled-input-text-color: --mdc-outlined-text-field-input-text-color;
}
body { margin: 1rem; font-family: Roboto, "Helvetica Neue", sans-serif; }



.mat-mdc-select-disabled {
  --mat-select-disabled-trigger-text-color: --mdc-outlined-text-field-input-text-color;
  --mat-select-disabled-arrow-color: rgba(0,0,0,0);
}

.no-styling {
  --mdc-filled-text-field-disabled-container-color: rgba(0,0,0,0);
  --mdc-filled-text-field-disabled-active-indicator-color: rgba(0,0,0,0);
  --mdc-icon-button-disabled-icon-color: rgba(0,0,0,0);
}

.row-container {
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 0 1rem;
}

.column-container {
  display: flex;
  flex-direction: column;
  gap: 1rem 0;
}
